[submodule "public/YiXian-IconsAndNames"]
	path = public/YiXian-IconsAndNames
	url = https://github.com/Jayromulus/YiXian-IconsAndNames
	
[submodule "public/yxp_images"]
	path = public/yxp_images
	url = https://github.com/0w0k/yxpImages

[submodule "engine"]
	path = engine
	url = https://github.com/0w0k/yisim_engine
