.app {
  display: flex;
  justify-content: center;
}

.main {
  height: 1040px;
}

.card {
  height: 274px;
  width: 170px;
  cursor: pointer;
}

.cardname, .cardlevel {
  width: 138px;
  margin-left: 16px;
}

.bg {
  padding: 16px;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}

.result {
  width: 320px;
  overflow-y: auto;
}

.empty {
  margin-top: auto;
  margin-bottom: auto;
}

.footer {
  height: 32px;
}
