.app {
  display: flex;
  justify-content: center;
}

.main {
  max-width: 1500px;
}

.card {
  width: 100%;
  height: auto;
}

.cardname, .cardlevel {
  margin-inline-end: 0 !important;
}

.ant-form-item-control-input-content {
  text-align: center;
}

.bg {
  padding: 16px;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}

.result {
  height: 100%;
  box-sizing: border-box;
  max-height: 1080px;
  overflow-y: auto;
}

.empty {
  margin-top: auto;
  margin-bottom: auto;
}

.footer {
  margin-top: 4px;
}
